<div class="container">
  <h3>QR Code Gen</h3>

  <div class="qr-form">
    <mat-form-field class="qr-form-field">
      <mat-label>Bank Account Number</mat-label>
      <input matInput [(ngModel)]="bankAccountNumber" placeholder="Bank Account Number" />
    </mat-form-field>

    <mat-form-field class="qr-form-field">
      <mat-label>Amount</mat-label>
      <input type="number" step="0.01" matInput [(ngModel)]="amount" placeholder="Amount" />
    </mat-form-field>

    <mat-form-field class="qr-form-field">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name" placeholder="Name" autocomplete="cc-name" />
    </mat-form-field>

    <mat-form-field class="qr-form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="title" placeholder="Title" />
    </mat-form-field>

    <div class="qr-form-field">
      <a mat-raised-button color="primary" (click)="generateQrCode()">Generate</a>
    </div>

    <div class="qr-form-field">
      <qr-code [value]="qrCodeValue" [size]="360"></qr-code>
    </div>
  </div>
</div>
